@use "global" as *;
.about {
	position: relative;
}

.about__bg-text {
	position: absolute;
	top: 5%;
	left: 0;
	@include mq(md){
		top: 4%;
		left: initial;
		right: 0;
	}
}
.about__inner {
	padding-top: rem(240);
	padding-bottom: rem(180);
	@include mq(md){
		padding-top: rem(120);
    padding-bottom: rem(90);
	}
}

.about__body {
	width: 100%;
	// margin-inline: auto;
	@include mq(md){
		width: 100%;
	}
}

.about__title.section-title {
	font-size: clamp(rem(35), 6vw, rem(50));
}

.about__text {
	font-size: rem(30);
	font-weight: 600;
	margin-top: rem(160);
	line-height: 2.2;
	letter-spacing: 0.02em;
	color: $black;
	text-align: justify;
	@include mq(md){
		font-size: rem(18);
		line-height: 1.8;
		letter-spacing: 0.02em;
		margin-top: rem(140);
	}
}

.about__text-p {
	margin-top: rem(30);
}

.about__text-main {
	font-family: $second-font;
	font-size: rem(60);
	font-style: italic;
	font-weight: 500;
	margin-top: rem(80);
	position: relative;
	display: inline-block;
	@include mq(md){
		font-size: rem(34);
		letter-spacing: normal;
		text-align: center;
	}
}

.about__text-main::after {
	display: inline-block;
	content: "";
	width: rem(120);
	height: rem(1);
	background: $black;
	position: absolute;
	top: 55%;
	left: 102%;
	@include mq(md){
		left: 100%;
    right: 0;
    top: 78%;
    width: 45px;
	}
}

.about__text-main span {
	color: $blue;
	font-weight: 600;
	font-size: rem(74);
	@include mq(md){
		font-size: rem(42);
	}
}

.about__text-en {
	font-family: "handsome-pro", sans-serif;
	font-weight: 300;
	font-size: rem(65);
	line-height: 1;
	margin-top: rem(-20);
	text-indent: 1em;
	color: rgba(188, 203, 230, .4);
	@include mq(md){
		font-size: rem(36);
		text-align: center;
		line-height: 1.8;
    margin-top: rem(-98);
	}
}

.about__link {
	margin-top: rem(50);
}

