@use 'global' as *;

.bg-circle {
	background: -moz-linear-gradient(38deg, rgba(201, 235, 251, 1), rgba(253, 255, 199, 1) 47%, rgba(251, 239, 216, 1) 67%, rgba(182, 224, 255, 1) 98%);
	background: -webkit-linear-gradient(38deg, rgba(201, 235, 251, 1), rgba(253, 255, 199, 1) 47%, rgba(251, 239, 216, 1) 67%, rgba(182, 224, 255, 1) 98%);
	background: linear-gradient(38deg, rgba(201, 235, 251, 1), rgba(253, 255, 199, 1) 47%, rgba(251, 239, 216, 1) 67%, rgba(182, 224, 255, 1) 98%);
	width: rem(150);
	height: rem(150);
	border-radius: 50%;
	position: relative;
	transition: translate 5s cubic-bezier(0, 0.91, 1, 1);
}

.bg-circle--small {
	background: -moz-linear-gradient(50deg, rgba(201, 235, 251, 1), rgba(253, 255, 199, 1) 47%, rgba(251, 239, 216, 1) 67%, rgba(182, 224, 255, 1) 98%);
	background: -webkit-linear-gradient(50deg, rgba(201, 235, 251, 1), rgba(253, 255, 199, 1) 47%, rgba(251, 239, 216, 1) 67%, rgba(182, 224, 255, 1) 98%);
	background: linear-gradient(50deg, rgba(201, 235, 251, 1), rgba(253, 255, 199, 1) 47%, rgba(251, 239, 216, 1) 67%, rgba(182, 224, 255, 1) 98%);
	width: rem(70);
	height: rem(70);
	border-radius: 50%;
	transition: translate 5s cubic-bezier(0, 0.91, 1, 1);
}

.bg-circle-1 {
	position: absolute;
	top: 30%;
	right: 20%;
	@include mq(md){
		width: rem(100);
		height: rem(100);
		top: 55%;
		right: 0%;
	}
}

.bg-circle-2 {
	position: absolute;
	top: 10%;
	left: 20%;
	width: rem(210);
	height: rem(210);
}

.bg-circle-3 {
	position: absolute;
	top: 78%;
	left: 30%;
	width: rem(230);
	height: rem(230);
	@include mq(md){
		width: rem(130);
		height: rem(130);
		top: 91%;
		left: 36%;
	}
}

.bg-circle-4 {
	position: absolute;
	top: 72%;
	right: 8%;
	width: rem(150);
	height: rem(150);
}

.bg-circle-5 {
	position: absolute;
	top: 80%;
	left: 10%;
	width: rem(110);
	height: rem(110);
}

.bg-circle-6 {
	position: absolute;
	top: 70%;
	left: 60%;
	width: rem(50);
	height: rem(50);
}

.bg-circle-7 {
	position: absolute;
	top: 40%;
	left: 47%;
}

.bg-circle-8 {
	position: absolute;
	top: 10%;
	left: 60%;
	width: rem(100);
	height: rem(100);
}

.bg-circle-9 {
	position: absolute;
	top: 47%;
	left: 14%;
	width: rem(100);
	height: rem(100);
}