@use "global" as *;

.product {
	background: #f5f8fa;
	position: relative;
}

.product__bg-text {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: rem(721);
	@include mq(md){
		top: rem(-15);
		font-size: rem(97);
		width: 100%;
		text-align: center;
	}
}

.product__inner {
	padding-top: rem(192);
	padding-bottom: rem(80);
	@include mq(md){
		padding-top: rem(60);
		padding-bottom: rem(60);
	}
}

.product__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: rem(60);
}

.product__item {
	width: calc(25% - 22.5px);
	margin-bottom: rem(30);
}

.product__item a {
	display: block;
	width: 100%;
	background-color: #fff;
	border-radius: rem(8);
	padding: rem(50) rem(50) rem(15);
	box-shadow: 3px 3px 3px #dadfe3;
	transition: scale .5s, box-shadow .5s, color .5s;
	@include mq(lg){
		width: calc(33.333% - 20px);
	}
	@include mq(md){
		width: calc(50% - 10px);
		padding: rem(10) rem(10) rem(15);
	}
	&:hover {
		scale: (1.08);
		color: $blue;
		box-shadow: 0 4px 18px rgba(0, 0, 0, 0.18);
	}
}

.product__image {
	aspect-ratio: 300 / 300;
}

.product__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product__category {
	text-align: center;
	font-size: rem(15);
	margin-top: rem(15);
	@include mq(md){
		font-size: rem(12);
	}
}

.product__item-link {
	font-size: rem(16);
	letter-spacing: 0.05em;
	margin-top: rem(15);
}

