@use "global" as *;

.service {
	background: #d6efff;
	border-radius: 0 rem(100) rem(100) 0;
	position: relative;
	margin-top: rem(320);
	padding-bottom: rem(80);
	@include mq(md){
		border-radius: 0 rem(60) rem(60) 0;
		margin-top: rem(210);
	}
}

.service__bg-text {
	position: absolute;
	top: -7%;
	left: 0;
	@include mq(md){
		top: -4%;
}
}

.service__items {
	margin-top: rem(120);
	@include mq(md){
		margin-top: rem(80);
	}
}

.service__item {
	max-width: rem(1200);
	// margin-left: 0;
	@include mq(md){
		width: 100%;
	}
}